<h1>You have visited this web page an amazing {{{count}}} times!!!!!!!</h1>
<form action="/count" method="post">
	<input type="hidden" name="command" value="resetCount" />
    <input type="submit" value="Reset Count"/>
</form>